<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!-- Here are the list of ConnectionStrings -->
    <add name="MSSQLConnectionString01" connectionString="Data Source=sourcename01;Initial Catalog=cat01;Persist Security Info=True;Integrated Security=true" />
    <!-- SQLite connect variables and setup -->
    <add name="SQLLiteConnectionString01" connectionString="Data Source=MyMiningDb.db3;Version=3;FailIfMissing=True;Foreign Keys=True" />
  </connectionStrings>
  <appSettings>
    <!-- Clears custom application settings -->
    <clear />
    <!-- Here are the list of AppSettings -->
    <add key="Var1" value="Var1 value example from config01" />
    <!-- Debug app. true or false, may override some settings from this file -->
    <add key="Debug" value="true" />
    <!-- Difficulty for Mining -->
    <add key="Difficulty" value="5" />
    <!-- Send logger data to WWW DB via REST: true or false -->
    <add key="UseRestApiDb" value="false" />
  </appSettings>
</configuration>